<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<table class="table">
				  <thead>
				    <tr>
				      <th>Product</th>
				      <th>Quantity</th>
				      <th>Cost</th>
				    </tr>
				  </thead>
				  <tfoot>
				    <tr>
				      <th></th>
				      <th></th>
				      <th>Total: $<%= @grand_total %></th>
				    </tr>
				  </tfoot>
				  <tbody>
				  	<% current_or_guest_user.line_items.each do |line_item| %>
							<td><%= line_item.product.name %></td>
				      <td><%= line_item.quantity %></td>
				      <td>$<%= line_item.line_item_total %></td>
						<% end %>
				    <tr>
				      
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</section>