<%= render 'header' %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-3">
      	<h2 class="title is-2">
      		Store
      		
      		<% if can? :create, Product, :user_id => current_user.id %>
	        		<%= link_to 'New Product', new_product_path, class: 'button is-primary is-pulled-right' %>
	        	<% end %>  
      	</h2>
      	<hr>
      	<div class="columns">
      		<%= render @storefront.products %>
      	</div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-2">Info</h2>
        <hr>
        <p><%= @storefront.info %></p>
      </div>
    </div>
  </div>
</section>
