<div id="map" class="is-disabled"></div>
<div class="container" id="search">
	<div class="columns">
		<div class="column is-8 is-offset-2">
			<p class="control has-addons">
			  <input class="input is-medium is-expanded" type="text" placeholder="Search for produce: e.g., Banana">
			  <input class="input is-medium is-expanded" type="text" placeholder="Search by location: e.g., 90210">
			  <a class="button is-medium is-info">
			    Search
			  </a>
			</p>
		</div>
	</div>
</div>
<button id="special"></button>
<p>Lorem ipsum dolor sit amet, labitur singulis definitionem vim ad. Ad sit probo vidisse, stet summo eam et. Has sint tempor id, sea errem putent accusamus ut. Aperiam feugait et sit, cu his mazim accusamus, pro ea quaeque legimus singulis. Eam in inermis vocibus.

At volumus perfecto volutpat ius, his ridens semper moderatius ut, ad his liber voluptatum. Ad posse soluta principes nam, error voluptua definiebas eu sed. Eam eu maiorum molestiae consectetuer, nam eirmod scripserit te. Mel oblique officiis efficiendi ut. Facilisi ocurreret mel ut. Ut vero eligendi vel, oratio libris sea eu. Te sed disputando reformidans, sea modus vocent sapientem an.

Has stet admodum assentior ne, vis possit nostrum accommodare et. Usu veniam interesset ne, persius labitur et nec, ne aliquid sanctus nostrum eam. Alia singulis deterruisset ne ius. Graecis explicari pri id, dignissim voluptaria in quo, prompta honestatis eloquentiam ius cu. Aeque assueverit eloquentiam ex vim, cu sea ceteros hendrerit, graecis constituto at est. Cu has aliquando scriptorem. An quo oblique ullamcorper.

Vel discere fabulas te, no deleniti conceptam pro, an adhuc mundi duo. Clita labores incorrupte eu per, ius no interesset comprehensam. An magna omnes labores quo, et eirmod option facilisis duo. Ad quo liber harum latine, sea aeterno scriptorem ullamcorper ea, pri esse appareat cu. Te congue explicari usu, ut quis soleat verterem his.

Ei partem mandamus sed, iudico propriae platonem at eam. Amet insolens dissentiet sit id, eam ei discere qualisque. Sed ut eirmod vocibus, ad per commune contentiones. Nobis dicunt contentiones nam no, qui constituto comprehensam no. Et cum apeirian accusamus, sea et mediocrem disputationi delicatissimi, vocent habemus appareat his in. Suas commodo accusata id pri, luptatum dissentias cum id.

Appetere dignissim consequuntur nam et. Sit an vitae platonem, est at tota equidem eleifend. Ei quis decore intellegam quo. Id pro albucius adipisci postulant. Cum no elit quas adipiscing, an mei volumus omnesque, ei mea summo dicant.

Consul ignota per eu, ut vis enim ponderum, stet dicam ignota ea mei. Saepe nostro adipisci ei eum, cum sumo repudiare vituperata ad. Eu eam diceret civibus oportere. His ex porro corpora indoctum. Ius iudico reprimique cu, alia omnesque conceptam duo ex, qui eros ipsum convenire ne. Quando cetero eum ad, usu ad homero inciderint temporibus.

Pro ei diam integre admodum, at iracundia gubergren pri, hinc probatus ea sit. Usu eu esse partem concludaturque. Eos illud ceteros voluptatibus ut, laudem eleifend cu sed. Eu per enim solum, in omnis mandamus vix, ridens pertinacia constituam per ea. Ut nec alterum deterruisset, et pro graeco sensibus consequat, iudico repudiandae ne sea. Sale praesent signiferumque id cum.

Eum homero conclusionemque ex, erant lobortis ex nec. Ne eum dicant graecis definitiones, ex pri elitr soluta referrentur. An qui veri congue delicata, dicit argumentum cu vix. Mea te minim legere, an cum omnesque fabellas. Ius ne congue accumsan.

Et mei consul malorum complectitur. Duo dico clita ceteros no. Euismod forensibus elaboraret ei mea, esse instructior qui id. Cu vix habeo dolores atomorum. Tantas eripuit facilis nec ut. Ei usu exerci hendrerit vituperata. Et eam luptatum lucilius.</p>

<p>Lorem ipsum dolor sit amet, labitur singulis definitionem vim ad. Ad sit probo vidisse, stet summo eam et. Has sint tempor id, sea errem putent accusamus ut. Aperiam feugait et sit, cu his mazim accusamus, pro ea quaeque legimus singulis. Eam in inermis vocibus.

At volumus perfecto volutpat ius, his ridens semper moderatius ut, ad his liber voluptatum. Ad posse soluta principes nam, error voluptua definiebas eu sed. Eam eu maiorum molestiae consectetuer, nam eirmod scripserit te. Mel oblique officiis efficiendi ut. Facilisi ocurreret mel ut. Ut vero eligendi vel, oratio libris sea eu. Te sed disputando reformidans, sea modus vocent sapientem an.

Has stet admodum assentior ne, vis possit nostrum accommodare et. Usu veniam interesset ne, persius labitur et nec, ne aliquid sanctus nostrum eam. Alia singulis deterruisset ne ius. Graecis explicari pri id, dignissim voluptaria in quo, prompta honestatis eloquentiam ius cu. Aeque assueverit eloquentiam ex vim, cu sea ceteros hendrerit, graecis constituto at est. Cu has aliquando scriptorem. An quo oblique ullamcorper.

Vel discere fabulas te, no deleniti conceptam pro, an adhuc mundi duo. Clita labores incorrupte eu per, ius no interesset comprehensam. An magna omnes labores quo, et eirmod option facilisis duo. Ad quo liber harum latine, sea aeterno scriptorem ullamcorper ea, pri esse appareat cu. Te congue explicari usu, ut quis soleat verterem his.

Ei partem mandamus sed, iudico propriae platonem at eam. Amet insolens dissentiet sit id, eam ei discere qualisque. Sed ut eirmod vocibus, ad per commune contentiones. Nobis dicunt contentiones nam no, qui constituto comprehensam no. Et cum apeirian accusamus, sea et mediocrem disputationi delicatissimi, vocent habemus appareat his in. Suas commodo accusata id pri, luptatum dissentias cum id.

Appetere dignissim consequuntur nam et. Sit an vitae platonem, est at tota equidem eleifend. Ei quis decore intellegam quo. Id pro albucius adipisci postulant. Cum no elit quas adipiscing, an mei volumus omnesque, ei mea summo dicant.

Consul ignota per eu, ut vis enim ponderum, stet dicam ignota ea mei. Saepe nostro adipisci ei eum, cum sumo repudiare vituperata ad. Eu eam diceret civibus oportere. His ex porro corpora indoctum. Ius iudico reprimique cu, alia omnesque conceptam duo ex, qui eros ipsum convenire ne. Quando cetero eum ad, usu ad homero inciderint temporibus.

Pro ei diam integre admodum, at iracundia gubergren pri, hinc probatus ea sit. Usu eu esse partem concludaturque. Eos illud ceteros voluptatibus ut, laudem eleifend cu sed. Eu per enim solum, in omnis mandamus vix, ridens pertinacia constituam per ea. Ut nec alterum deterruisset, et pro graeco sensibus consequat, iudico repudiandae ne sea. Sale praesent signiferumque id cum.

Eum homero conclusionemque ex, erant lobortis ex nec. Ne eum dicant graecis definitiones, ex pri elitr soluta referrentur. An qui veri congue delicata, dicit argumentum cu vix. Mea te minim legere, an cum omnesque fabellas. Ius ne congue accumsan.

Et mei consul malorum complectitur. Duo dico clita ceteros no. Euismod forensibus elaboraret ei mea, esse instructior qui id. Cu vix habeo dolores atomorum. Tantas eripuit facilis nec ut. Ei usu exerci hendrerit vituperata. Et eam luptatum lucilius.</p>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap" async defer></script>